/**
 * Created by RTT.
 * Author: teocci@yandex.com on 2022-6월-10
 */
@import "variables.css";
@import "default.css";
@import "model-panel.css";
@import "spinner.css";
@import "notifier.css";
@import "dropzoner.css";
@import "toolbar.css";
@import "dashboard.css";
@import "widget.css";
@import "modal.css";
@import "form.css";
@import "settings.css";
@import "series.css";
@import "chart-panel.css";
@import "dropdown.css";
@import "connection.css";

body {
    background-color: var(--main-bg-color);
}

header {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-shrink: 0;
    height: var(--header-height);
    background: var(--accent-bg-color);
    user-select: none;
}

header > .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 100%;
}

header > .logo-wrapper {
    width: var(--sidebar-width);
}

.title-wrapper > h2 {
    color: var(--natural-color);
}

.title-wrapper > h2 > span {
    color: var(--accent-color);
}

header .logo {
    height: var(--logo-size);
    width: var(--logo-size);
}

main {
    display: grid;
    grid-template-columns: [model]2fr [dashboard]1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    width: 100vw;
}

main > section {
    flex: 1;
    height: calc(100vh - var(--header-height));
}

main > .model-panel {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

main > .dashboard-panel {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

/*footer {*/
/*    height: var(--footer-height);*/
/*    line-height: 2rem;*/
/*    background-color: var(--bg-light-gray);*/
/*    overflow: hidden;*/
/*    user-select: none;*/
/*}*/

/*footer .copy {*/
/*    font-size: 0.8rem;*/
/*    color: var(--font-dark-color);*/
/*    text-align: center;*/
/*    white-space: nowrap;*/
/*}*/

/*#dashboard {*/
/*    display: flex;*/
/*    flex-flow: row wrap;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: var(--dashboard-width);*/
/*    height: 100%;*/
/*    background: var(--gray);*/
/*    color: var(--light-gray-l87);*/
/*    font-size: 2rem;*/
/*    border-left: 1px solid var(--dark-gray-bg);*/
/*}*/

.hidden {
    display: none !important;
}

