/**
 * Created by RTT.
 * Author: teocci@yandex.com on 2022-8월-24
 */

:root {
    --white: hsl(0, 0%, 100%);
    --white-a80: hsla(0, 0%, 100%, .8);


    --light-gray: hsl(0, 0%, 96%);
    --light-gray-l87: hsl(0, 0%, 87%);
    --light-gray-l80: hsl(0, 0%, 80%);
    --gray: hsl(0, 0%, 50%);

    --darker: hsl(210, 13%, 12%);
    --darker-a15: hsla(210, 13%, 12%, .15);
    --darker-a10: hsla(210, 13%, 12%, .1);

    --font-light-color: hsl(0, 0%, 100%);
    --font-light-color-l60: hsl(0, 0%, 60%);
    --font-light-color-l20: hsl(0, 0%, 20%);

    --font-mild-color: hsl(210, 1%, 40%);
    --font-dark-color: hsl(210, 2%, 20%);

    --bg-white: hsl(0, 0%, 100%);
    --bg-light-gray: hsl(0, 0%, 96%);
    --bg-light-gray-l93: hsl(0, 0%, 93%);
    --bg-light-gray-l86: hsl(0, 0%, 86%);

    --bg-black: hsl(0, 0%, 0%);
    --bg-black-a75: hsla(0, 0%, 0%, .75);
    --bg-black-a03: hsla(0, 0%, 0%, .3);

    --gray-base: hsl(210, 1%, 40%);
    --dark-gray-bg: hsl(210, 2%, 20%);

    --gradient-color: hsl(344, 70%, 58%);
    --natural-color: hsl(21, 100%, 97%);

    --light-color: hsl(25, 100%, 60%);
    --base-color: hsl(27, 90%, 55%);


    /* fe5420 | rgb(254, 84, 32) */
    --accent-color: hsl(14, 99%, 56%);
    --ac-soft: hsl(9, 84%, 65%);
    --ac-punch: hsl(11, 100%, 60%);
    --ac-s90: hsl(11, 90%, 60%);

    --ac-mono-l: hsl(11, 90%, 55%);

    --ac-related-dark: hsl(5, 78%, 59%);
    --ac-related-warm: hsl(9, 83%, 56%);
    --ac-related-cold: hsl(3, 85%, 62%);
    --ac-related-light: hsl(12, 72%, 60%);

    /* f7afa3 | rgb(247, 175, 163) */
    --ac-pastel: hsl(9, 84%, 80%);

    --pastel-color: hsl(13, 92%, 81%);
    --pc-light: hsl(22, 100%, 92%);

    /* #ccccdc | rgb(204, 204, 220) */
    --active-font: hsl(240, 19%, 83%);
    --inactive-font: hsla(240, 19%, 83%, .65);
    --inactive-font-a16: hsla(240, 19%, 83%, .16);

    /* #181b1f | rgb(24, 27, 31) */
    --dark-font: hsl(214, 13%, 11%);
    --accent-font: hsl(11, 87%, 75%);
    --accent-light-color: hsl(29, 90%, 62%);
    --accent-pastel-color: hsl(25, 100%, 75%);
    /* fe6749 | rgb(254, 103, 73) */
    --af-hard: hsl(10, 99%, 64%);
    /* 050607 | rgb(5, 6, 7) */
    --af-soft: hsl(9, 84%, 65%);
    --af-dark: hsl(210, 17%, 2%);

    --ac-pastel-a40: hsla(9, 84%, 80%, .4);
    --ac-soft-a75: hsla(9, 84%, 65%, .75);
    --af-soft-a40: hsla(9, 84%, 65%, .4);
    --af-hard-a20: hsla(10, 99%, 64%, .2);
    --mbc-contrast-a40: hsla(240, 19%, 83%, .4);
    --dark-font-a16: hsla(214, 13%, 11%, .16);

    --main-light-color: hsl(211, 100%, 79%);
    --main-color: hsl(211, 100%, 57%);
    --main-accent-color: hsl(211, 75%, 40%);
    --main-dark-color: hsl(211, 75%, 34%);
    --main-darker-color: hsl(211, 76%, 23%);
    --main-contrast-color: hsl(263, 10.6%, 24%);

    /* #111217 | rgb(17, 18, 23) */
    --main-bg-color: hsl(230, 15%, 8%);
    /* #181b1f | rgb(24, 27, 31) */
    --accent-bg-color: hsl(214, 13%, 11%);
    /* #22252b | rgb(34, 37, 43) */
    --abc-contrast: hsl(220, 12%, 15%);

    /* #ccccdc | rgb(204, 204, 220) */
    --mbc-contrast: hsl(240, 19%, 83%);
    --mbc-contrast-a16: hsla(240, 19%, 83%, 0.16);

    /* 4a4e63 | rgb(74, 78, 99) */
    --mbc-mono-ll: hsl(230, 14%, 34%);
    /* 161B33 | rgb(22, 27, 51) */
    --mbc-mono-l: hsl(230, 40%, 14%);
    /* 2C3563 | rgb(44, 53, 99) */
    --mbc-mono-r: hsl(230, 38%, 28%);
    /* 828ab0 | rgb(130, 138, 176) */
    --mbc-mono-rr: hsl(230, 23%, 60%);

    /* #e9e9ed | rgb(233, 233, 237) */
    --soft-bg-color: hsl(240, 10%, 92%);

    --main-border-color: hsl(240, 19%, 83%, .07);

    --main-color-a40: hsla(211, 100%, 57%, .4);
    --main-darker-color-a20: hsla(211, 76%, 23%, .2);


    --header-height: 56px;
    --footer-height: 32px;

    --logo-size: 32px;

    --sidebar-width: 57px;

    --model-width: 65vw;
    --dashboard-width: 35vw;

    --summary-width: 280px;
    --modal-width: 940px;
    --modal-height: 692px;
    --modal-max-height: calc(var(--modal-height) + 20px);
    --modal-top: calc(var(--modal-height) / 2);

    --toolbar-i-size: 2rem;
    --toolbar-icon-size: 1.25rem;

    --z-stats: 150;
    --z-summary: 100;
    --z-modal: 200;
    --z-modal-outside: 190;
}